<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffee Shop Dashboard</title>
    <link rel="stylesheet" href="dashboard.css" />
  </head>
  <body>
    <div class="dashboard">
      <div class="sidebar">
        <h1>Coffee Shop</h1>
        <ul>
          <li><a href="Home.html">Home</a></li>
          <li><a href="Orders.html">Orders</a></li>
          <li><a href="Inventory.html">Inventory</a></li>
          <li><a href="Staff.html">Staff</a></li>
          <li><a href="Reports.html">Reports</a></li>
          <li><a href="POS.html">POS</a></li>
        </ul>
      </div>
      <div class="top-right">
        <a href="login.html" class="login-button">Login</a>
      </div>
      <div class="content">
        <h2>POS</h2>
        <div class="info-box">
          <h2>POS Information</h2>
          <p>
            This is where you can store additional information for your
            dashboard.This is where you can store additional information for
            your dashboard.This is where you can store additional information
            for your dashboard.This is where you can store additional
            information for your dashboard.This is where you can store
            additional information for your dashboard.This is where you can
            store additional information for your dashboard.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
