.auto-format {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #333;
}

th,
td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

th {
    background-color: #39251e;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}



.swal2-container {
    z-index: 9999 !important; 
}